.tech-skills p{

    background-color: black;
    border-radius: 90px;
    color:white;
    padding:10px;
    text-align:center;
    border: 2px solid white;

}
.tech-skills p:hover {
    background-color: gold;
    cursor: pointer;
    color:black;
}
.date-class{
    color:black;
}