.work-section{
    margin-top:70px;
    margin-bottom: 70px;
}
.timeline-secion{
    margin-top:50px;
}
.tech-skills p{

    background-color: black;
    border-radius: 90px;
    color:white;
    padding:10px;
    text-align:center;
    border: 2px solid white;

}
.tech-skills p:hover {
    background-color: gold;
    cursor: pointer;
    color:black;
}
.date-class{
    color:black;
}

#dark .date-class{
    color:white;


}
@media (max-width: 1000px) {
    .date-class{
        color:white;
    }
  }