.about-section{
    box-shadow: 15px 9px 9px -2px rgb(230, 224, 224, .86);
    -webkit-box-shadow: 15px 9px 9px -2px rgb(230, 224, 224, .86);
    -moz-box-shadow: 15px 9px 9px -2px rgb(230, 224, 224, .86);
    margin-top: 50px;
    padding-bottom:100px;
    height: auto;
    border-radius: 10px;
    
}
.about-image img {
    height:400px;
    width: 400px;
    border-radius: 190px;
    margin-top: 50px;
    border: 5px solid yellow;
    object-fit: cover;
   
}
.about-details{
    margin-top:50px;
   
}
.about-information{
    margin-top:10px;
    width:95%;
}
.about-details h5{
    text-align: center;
}
.line{
    display:block;
    width:90px;
    height:5px;
    margin: 1px auto;
    background-color: yellowgreen;
}