.about-section {
  box-shadow: 15px 9px 9px -2px rgb(230, 224, 224, 0.86);
  -webkit-box-shadow: 15px 9px 9px -2px rgb(230, 224, 224, 0.86);
  -moz-box-shadow: 15px 9px 9px -2px rgb(230, 224, 224, 0.86);
  margin-top: 50px;
  padding-bottom: 100px;
  height: auto;
  border-radius: 10px;
}
#dark .about-section{
    box-shadow:none;
    background-color:#38004c;
    box-shadow: -6px 11px 5px -4px rgb(0, 0, 0, .42);
    -webkit-box-shadow: -6px 11px 5px -4px rgb(0, 0, 0, .42);
    -moz-box-shadow: -6px 11px 5px -4px rgb(0, 0, 0, .42);

}
.about-image img {
  height: 400px;
  width: 400px;
  border-radius: 190px;
  margin-top: 50px;
  border: 5px solid yellow;
  object-fit: cover;
}
.about-details {
  margin-top: 50px;
}
.about-information {
  margin-top: 10px;
  
  width: 95%;
}
.about-details h5 {
  text-align: center;
}
.line {
  display: block;
  width: 90px;
  height: 5px;
  margin: 1px auto;
  background-color: yellowgreen;
}

@media (max-width: 1000px) {
  .about-image img {
    height: 300px;
    width: 300px;
  }
  .about-image {
    display: flex;
    justify-content: center;
  }
  .about-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
