.home {
  height: 400px;
  color: white;
}
.home-content h1 {
  margin: auto;
  margin-top: 125px;
}
.home-content h3 {
  margin-top: 20px;
  color: yellowgreen;
}
.button-for-action{
    display: flex;
}
.contact-button{
    background-color: #ff854c;
    text-align: center;
    width: 180px;
    padding:10px;
    border-radius: 90px;
    cursor:pointer;
    margin-top:10px;
    border: 2px solid #d15f2a;
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.contact-button:hover{
    background-color: white;
    width:250px;
    color:black;
    transition-duration: 1s;
}
.resume-button{
    background-color:yellowgreen;
    text-align: center;
    width: 180px;
    padding:10px;
    border-radius: 90px;
    cursor:pointer;
    margin-top:10px;
    margin-left:10px;
    border: 2px solid green;
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.resume-button:hover{
    background-color: white;
    width:250px;
    color:black;
    transition-duration: 1s;
}
.resume-button a{
    text-decoration: none;
    color:white
}
.resume-button:hover a {
    color:black;
}

.github-button{
    background-color:rgb(161, 50, 205);
    text-align: center;
    width: 180px;
    padding:10px;
    border-radius: 90px;
    cursor:pointer;
    margin-top:10px;
    margin-left:10px;
    border: 2px solid rgb(161, 50, 205);
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.github-button:hover{
    background-color: white;
    width:250px;
    color:black;
    transition-duration: 1s;
}

.github-button a{
    text-decoration: none;
    color:white
}
.github-button:hover a {
    color:black;
}

.theme-change{
    justify-content: center;
    height:50px;
    width:50px;
    background-color: #001cc3;
    right: 0;
    margin-right:10px;
    text-align: center;
    vertical-align: middle;
    line-height:50px;
    position: fixed;
    top: 150;
    margin-top:250px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
}
.sun-theme{
    animation: rotation infinite 5s linear;
}
@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}